<div class="flex items-center justify-center">
  <div class="w-[500px] h-[500px] bg-white">
    <div>
      <img
        class="w-full h-3/5 object-cover rounded-lg"
        src="../../../assets/Images/cheesecake.jpg"
        alt="Cheesecake"
      />
    </div>
    <div class="pt-4">
      <div class="flex justify-between">
        <h1 class="text-2xl font-semibold">The Cheesecake Factory</h1>
        <p class="text-gray-600 text-lg">$1.50 delivery</p>
      </div>
      <div class="flex justify-between items-center mt-2">
        <div class="flex items-center gap-5">
          <div class="flex flex-row gap-1">
            <p class="font-semibold text-lg">4.5</p>
            <h4 class="text-yellow-400 font-semibold text-lg">★</h4>
            <h4 class="text-lg text-gray-600">(4,000+)</h4>
          </div>
          <h4 class="text-lg text-gray-600">•</h4>
          <h4 class="text-lg text-gray-600">American</h4>
        </div>
        <p class="text-gray-600">20-35 min</p>
      </div>
    </div>
  </div>
</div>
