<!-- Header -->
<router-outlet></router-outlet>

<div
  class="flex flex-col mx-auto justify-center align-middle border border-gray shadow-lg rounded-md p-5 max-w-[600px] w-full max-h-[680px] fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
>
  <!-- Tab Buttons -->
  <div class="flex w-[200px] h-[40px] mx-auto mt-5 mb-5 cursor-pointer">
    <button
      class="flex-1 flex items-center justify-center rounded-l-full bg-gray-300 hover:bg-gray-200'"
      type="button"
    >
      <a class="text-bold text-xl text-white" routerLink="/signin">Sign In</a>
    </button>
    <button
      class="flex-1 flex items-center justify-center rounded-r-full bg-black"
      type="button"
      disabled
    >
      <p class="text-xl text-bold text-white">Sign Up</p>
    </button>
  </div>

  <app-sign-up></app-sign-up>
</div>
