<!-- Parent Container -->

<h1 class="text-4xl text-center">Sign in with your QuickCrave account</h1>
<div *ngIf="errorMessage1">
  <p class="text-sm text-red-500 text-center">
    Error! The following combination is incorrect. Please try again
  </p>
</div>
<!-- Email and PW Input  -->
<form>
  <div class="mb-6">
    <label
      for="email-input"
      class="block mb-2 text-xl font-medium text-black-100"
    >
      Email
    </label>
    <input
      [(ngModel)]="user.username"
      required
      id="email-input"
      [ngClass]="{
        'border-red-500': errorMessage1,
        'border-gray-600': !errorMessage1
      }"
      name="email"
      type="email"
      placeholder="your@email.com"
      class="bg-gray-50 border text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <div class="mb-6 flex flex-col">
    <label
      for="password-input"
      class="block mb-2 text-xl font-medium text-black-100"
    >
      Password
    </label>
    <div class="relative flex-1">
      <input
        [(ngModel)]="user.password"
        required
        id="password-input"
        [ngClass]="{
          'border-red-500': errorMessage1,
          'border-gray-600': !errorMessage1
        }"
        name="password"
        [type]="showPassword === true ? 'text' : 'password'"
        placeholder="Enter your password"
        class="bg-gray-50 border text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 pr-10"
      />

      <ng-container *ngIf="!showPassword; else elseBlock">
        <svg
          class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
          (click)="showPasswordHandler()"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
        >
          <path
            d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T832-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"
          />
        </svg>
      </ng-container>
      <ng-template #elseBlock>
        <svg
          class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
          (click)="showPasswordHandler()"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
        >
          <path
            d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
          />
        </svg>
      </ng-template>
    </div>
  </div>

  <div class="grid justify-items-end">
    <a
      href="/forgetpassword"
      class="text-sm font-medium hover:underline text-blue-800 mb-3"
      >Forgot password?</a
    >
  </div>
  <div class="mx-auto flex w-[200px] flex-col justify-center align-middle">
    <button
      (click)="handleUserAuth()"
      class="text-white block bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-500 dark:hover:bg-red-700 dark:focus:ring-red-900"
    >
      Sign In
    </button>
  </div>
</form>
<!-- Divider -->
<div class="flex flex-row items-center">
  <div class="flex-1 border border-b-black"></div>
  <div class="mx-4">or log in with external services</div>
  <div class="flex-1 border border-b-black"></div>
</div>

<!-- External Login -->
<div class="flex flex-col justify-center items-center mx-auto mb-5 mt-5">
  <button
    type="button"
    (click)="handleGoogleLogin()"
    class="text-white text-lg bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center justify-between mr-2 mb-2"
  >
    <svg
      class="mr-2 ml-1 w-[40px] h-[20px]"
      aria-hidden="true"
      focusable="false"
      data-prefix="fab"
      data-icon="google"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 488 512"
    >
      <path
        fill="currentColor"
        d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
      ></path>
    </svg>
    Sign in with Google
  </button>
</div>
