<div class="flex flex-row justify-between">
  <div class="flex flex-row">
    <p>500 Result</p>
  </div>
  <div class="flex flex-row my-auto">
    <label
      class="block font-medium text-gray-900 align-text-bottom text-lg mr-5 justify-center"
      >Sort:
    </label>
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option value="recommended" selected>Recommended</option>
      <option value="name">Restaurant Name</option>
      <option value="price_asc">Price (Ascending)</option>
      <option value="price_desc">Price (Descending)</option>
      <option value="rating">Rating</option>
      <option value="distance">Distance</option>
      <option value="delivery_estimate">Delivery Estimate</option>
      <option value="delivery_minimum">Delivery Minimum</option>
    </select>
  </div>
</div>
