<section class="w-[100%] min-w-screen mt-5 p-10 lg:mt-10">
  <div class="w-full flex flex-row justify-center align-middle mt-20 lg:mt-16">
    <div
      class="container flex flex-col lg:flex-row items-center justify-center gap-x-24"
    >
      <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
        <img
          class="h-[480px] w-[720px] max-w-full rounded-lg"
          src="../../../assets/Images/restaurant.jpg"
          alt=""
        />
      </div>
      <div
        class="flex flex-1 flex-col mx-auto items-center justify-center lg:items-start"
      >
        <h1 class="text-black font-bold text-4xl mb-5 text-center">
          Own a Restaurant? Join QuickCrave to Expand Your Reach and Delight
          Customers!
        </h1>
        <p
          class="text-light text-gray-700 text-xl mb-5 mt-5 text-center text-wrap"
        >
          Are you a restaurateur looking to elevate your business? Showcase your
          culinary delights with QuickCrave and attract customers seeking
          delectable delivery or convenient takeout options. With a diverse
          range of offerings, patrons can effortlessly discover, order, and
          enjoy your exquisite menu through our user-friendly app. Embrace the
          ease of providing delightful dining experiences, from your kitchen to
          their doorstep.
        </p>
        <div class="text-center mx-auto justify-center align-middle">
          <button
            type="button"
            class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 mb-2 dark:bg-red-500 dark:hover:bg-red-700 dark:focus:ring-red-900"
          >
            Join Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
