<div
  class="bg-white w-full flex flex-col justify-center align-middle gap-5 px-3 md:px-16 mx-auto lg:px-28 text-[#161931]"
>
  <h1 class="text-center text-5xl text-black">Review History</h1>

  <div class="overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right bg-indigo-800">
      <thead class="text-xs uppercase bg-slate-700 text-gray-200">
        <tr>
          <th scope="col" class="px-6 py-3">Review</th>
          <th scope="col" class="px-6 py-3">Restaurant</th>
          <th scope="col" class="px-6 py-3">Date</th>
          <th scope="col" class="px-6 py-3">Rating</th>

          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Delete</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-200 hover:bg-gray-300">
          <td class="px-6 py-4">
            This is the best Italian food I've ever had!
          </td>
          <td class="px-6 py-4">Joe's Mama Shop</td>
          <td class="px-6 py-4">01/24/24</td>
          <td class="px-6 py-4">4.5</td>

          <td class="px-6 py-4 text-right">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Edit</a
            >
          </td>
          <td class="px-6 py-4 text-right">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
