<div
  class="bg-white w-full flex flex-col justify-center align-middle gap-5 px-3 mx-auto text-[#161931]"
>
  <h1 class="text-center text-5xl text-black">Billing & Payment</h1>
  <div class="flex flex-col justify-center items-center mx-auto">
    <button
      class="text-white w-[100px] bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center block"
      (click)="openModal()"
    >
      Add Card
    </button>
  </div>
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right align-bottom justify-center text-center"
    >
      <thead class="text-xs uppercase bg-slate-700 text-gray-200">
        <tr>
          <th scope="col" class="px-6 py-3">Card Number</th>
          <th scope="col" class="px-6 py-3">Card Description</th>
          <th scope="col" class="px-6 py-3">CVC</th>
          <th scope="col" class="px-6 py-3">Exp MM</th>
          <th scope="col" class="px-6 py-3">Exp YYYY</th>
          <th scope="col" class="px-6 py-3">Address</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Delete</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Set as Default</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-gray-200 hover:bg-gray-300"
          *ngFor="let item of userBillingInfoList"
        >
          <td class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap">
            {{ item.info.Number }}
            <span
              class="text-xs text-red-500 dark:text-red-400 ml-1"
              *ngIf="item.isDefault"
              >Default</span
            >
          </td>
          <td class="px-6 py-4">{{ item.info.Description }}</td>
          <td class="px-6 py-4">{{ item.info.cvc }}</td>
          <td class="px-6 py-4">{{ item.info.ExpMonth }}</td>
          <td class="px-6 py-4">{{ item.info.ExpYear }}</td>
          <td class="px-6 py-4">
            {{ item.billing.street }}
            {{
              item.billing.apartmentNumber
                ? ", " + item.billing.apartmentNumber
                : ""
            }}
            {{ item.billing.postalCode }} {{ item.billing.city }}
            {{ item.billing.country }}
          </td>
          <td class="px-6 py-4 text-right">
            <a
              (click)="openEditModal(); setSelectedEditId(item.id)"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Edit</a
            >
          </td>
          <td class="px-6 py-4 text-right">
            <a
              (click)="openDeleteModal(); setSelectedDeleteId(item.id)"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Delete</a
            >
          </td>
          <td class="px-6 py-4 text-right">
            <a
              *ngIf="!item.isDefault"
              (click)="openSetDefaultModal(); setDefaultModalId(item.id)"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Set as Default</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-add-billing-modal
    [isOpen]="isModalOpen"
    [getUserBillingList]="getUserBillingList"
    (closed)="onModalClosed()"
  ></app-add-billing-modal>
  <app-edit-modal
    [editId]="editId"
    [getUserBillingList]="getUserBillingList"
    [isEditOpen]="isEditModal"
    (closed)="onEditModalClosed()"
  ></app-edit-modal>
  <app-delete-billing-modal
    [deleteId]="isDeleteId"
    [getUserBillingList]="getUserBillingList"
    [isDeleteModal]="isDeleteModal"
    (closed)="onDeleteModalClosed()"
  ></app-delete-billing-modal>
  <app-set-as-default-modal
    [SetDefaultId]="SetDefaultId"
    [getUserBillingList]="getUserBillingList"
    [isSetDefaultModal]="isSetDefaultModal"
    (closed)="setDefaultModalClosed()"
  ></app-set-as-default-modal>
</div>
