<div
  class="bg-white w-full flex flex-col justify-center align-middle gap-5 px-3 md:px-16 mx-auto lg:px-28 text-[#161931]"
>
  <h1 class="text-center text-5xl text-black">Order History</h1>

  <div class="overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right bg-indigo-800">
      <thead class="text-xs uppercase bg-slate-700 text-gray-200">
        <tr>
          <th scope="col" class="px-6 py-3">Order</th>
          <th scope="col" class="px-6 py-3">Restaurant</th>
          <th scope="col" class="px-6 py-3">Total</th>
          <th scope="col" class="px-6 py-3">Date</th>
          <th scope="col" class="px-6 py-3">Payment</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-200 hover:bg-gray-300">
          <td class="px-6 py-4">1 Lasagna, 1 Pesto, 1 Calamari</td>
          <td class="px-6 py-4">Joe Mama</td>
          <td class="px-6 py-4">67.21</td>
          <td class="px-6 py-4">January 1st 2023</td>
          <td class="px-6 py-4">American Express 5312</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
