<div class="flex">
  <!-- Side Bar -->

  <!-- Need to add backend -->
  <div class="h-full w-[20%]">
    <ul
      class="flex w-full flex-col items-center justify-center h-full text-center gap-2"
    >
      <li class="bg-gray-300 w-full h-full p-4 rounded-lg">
        <a href="#" class="text-gray-700 font-3xl font-bold">Popular Items</a>
      </li>
      <li class="w-full h-full p-4 hover:bg-gray-400 rounded-lg">
        <a href="#" class="text-gray-400 hover:text-gray-600 font-2xl"
          >Specials
        </a>
      </li>
      <li class="w-full h-full p-4 hover:bg-gray-400 rounded-lg">
        <a href="#" class="text-gray-400 hover:text-gray-600 font-2xl"
          >Appetizers
        </a>
      </li>
    </ul>
  </div>
  <!-- Menu Items -->
  <div class="p-7 flex-1 h-full">
    <h1 class="text-2xl font-semibold">Popular Items</h1>
    <p class="text-lg">
      This most commonly ordered items and dishes from this store
    </p>
  </div>
</div>
