<div class="flex w-full">
  <!-- Side Bar -->
  <!-- Need to add backend -->
  <div class="h-full w-[15%]">
    <ul
      class="flex w-full flex-col items-center justify-center h-full text-center gap-2"
    >
      <li class="bg-gray-300 w-full h-full p-4 rounded-lg">
        <a href="#" class="text-gray-700 font-3xl font-bold">Popular Items</a>
      </li>
      <li class="w-full h-full p-4 hover:bg-gray-400 rounded-lg">
        <a href="#" class="text-gray-400 hover:text-gray-600 font-2xl"
          >Specials
        </a>
      </li>
      <li class="w-full h-full p-4 hover:bg-gray-400 rounded-lg">
        <a href="#" class="text-gray-400 hover:text-gray-600 font-2xl"
          >Appetizers
        </a>
      </li>
    </ul>
  </div>
  <!-- Menu Items -->
  <div class="pl-3 flex-1 h-full w-full">
    <h1 class="text-3xl font-semibold pb-1">Popular Items</h1>
    <p class="text-xl pb-5 pt-1">
      The most commonly ordered items and dishes from this store
    </p>
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-3">
      <app-item-card class="w-full"></app-item-card>
      <app-item-card class="w-full"></app-item-card>
      <app-item-card class="w-full"></app-item-card>
      <app-item-card class="w-full"></app-item-card>
    </div>
  </div>
</div>
