<!-- Parent Container -->
<div class="flex justify-center items-center h-screen">
  <div
    class="flex flex-col justify-center align-middle border border-black rounded-md p-5 max-w-[600px] w-full max-h-[625px]"
  >
    <div class="mt-5 justify-center align-middle">
      <button
        (click)="AuthService.closeModal()"
        class="block w-[50px] h-[50px] left-0 rounded-full text-2xl p-1 bg-white hover:bg-gray-200"
      >
        X
      </button>
    </div>
    <h1 class="text-4xl text-center">Sign up to make an account</h1>
    <!-- Tab Buttons -->
    <div class="flex w-[200px] h-[40px] mx-auto mt-4 cursor-pointer">
      <div
        class="flex-1 flex items-center justify-center rounded-l-full bg-gray-300 hover:bg-gray-200"
        (click)="AuthService.changeModal()"
      >
        <p class="text-bold text-xl text-white">Sign In</p>
      </div>
      <div
        class="flex-1 flex items-center justify-center rounded-r-full bg-gray-800 hover:bg-gray-600"
      >
        <p class="text-xl text-bold text-white">Sign Up</p>
      </div>
    </div>
    <!-- Email and PW Input  -->
    <form>
      <div class="mb-6">
        <label
          for="default-input"
          class="block mb-2 text-xl font-medium text-black-100"
        >
          First Name
        </label>
        <input
          type="text"
          id="default-input"
          placeholder="Enter your first name"
          class="bg-gray-50 border border-gray-300 text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="mb-6">
        <label
          for="default-input"
          class="block mb-2 text-xl font-medium text-black-100"
        >
          Last Name
        </label>
        <input
          type="text"
          id="default-input"
          placeholder="Enter your last name"
          class="bg-gray-50 border border-gray-300 text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="mb-6">
        <label
          for="default-input"
          class="block mb-2 text-xl font-medium text-black-100"
        >
          Email
        </label>
        <input
          type="email"
          id="default-input"
          placeholder="your@email.com"
          class="bg-gray-50 border border-gray-300 text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="mb-6">
        <label
          for="default-input"
          class="block mb-2 text-xl font-medium text-black-100"
          >Password
        </label>
        <input
          type="password"
          id="default-input"
          placeholder="Enter your password"
          class="bg-gray-50 border border-gray-300 text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="mx-auto flex w-[200px] flex-col justify-center align-middle">
        <button
          class="text-white block bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-500 dark:hover:bg-red-700 dark:focus:ring-red-900"
        >
          Sign In
        </button>
      </div>
    </form>
  </div>
</div>
