<!-- Parent Container -->

<h1 class="text-4xl text-center mb-5">Sign up to make an account</h1>

<div *ngIf="errorMessagePassword">
  <p class="text-sm text-red-500 text-center">
    Error! The following password does not meet the requirements.
  </p>
</div>
<div *ngIf="errorMessageUsername">
  <p class="text-sm text-red-500 text-center">
    Error! The Username already exists. Please try a different Username or
    Forget Password
  </p>
</div>
<div *ngIf="errorMessagePasswordNotSame">
  <p class="text-sm text-red-500 text-center">
    Error! The passwords you have entered do not match. Please Try Again
  </p>
</div>

<!-- Email and PW Input  -->
<form>
  <!-- First Name -->
  <div class="mb-6">
    <label
      for="first-name-input"
      class="block mb-2 text-xl font-medium text-black-100"
    >
      First Name
    </label>
    <input
      [(ngModel)]="user.firstName"
      name="first"
      required
      type="text"
      id="first-name-input"
      placeholder="Enter your first name"
      class="bg-gray-50 border border-gray-300 text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>

  <!-- Last Name -->
  <div class="mb-6">
    <label
      for="last-name-input"
      class="block mb-2 text-xl font-medium text-black-100"
    >
      Last Name
    </label>
    <input
      [(ngModel)]="user.lastName"
      name="last"
      required
      type="text"
      id="last-name-input"
      placeholder="Enter your last name"
      class="bg-gray-50 border border-gray-300 text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>

  <!-- Email -->
  <div class="mb-6">
    <label
      for="email-input"
      class="block mb-2 text-xl font-medium text-black-100"
    >
      Email
    </label>
    <input
      [(ngModel)]="user.email"
      [ngClass]="{
        'border-red-500': errorMessageUsername,
        'border-gray-600': !errorMessageUsername
      }"
      name="email"
      required
      type="email"
      id="email-input"
      placeholder="your@email.com"
      class="bg-gray-50 border text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>

  <!-- Password -->
  <div class="mb-6 flex flex-col">
    <label
      for="password-input"
      class="block mb-2 text-xl font-medium text-black-100"
    >
      Password
    </label>
    <div class="relative flex-1">
      <input
        [ngClass]="{
        'border-red-500': errorMessagePassword,
        'border-red-600' : errorMessagePasswordNotSame,
        'border-gray-600': !errorMessagePassword,
        'border-gray-500' : !errorMessagePasswordNotSame,
      }"
        [(ngModel)]="user.password"
        (input)="checkRequirements()"
        name="password"
        required
        [type]="showPassword1 === true ? 'text' : 'password'"
        id="password-input"
        placeholder="Enter your password"
        class="bg-gray-50 border text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      <ng-container *ngIf="!showPassword1; else elseBlock">
        <svg
          class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
          (click)="showPassword1Handler()"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
        >
          <path
            d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T832-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"
          />
        </svg>
      </ng-container>
      <ng-template #elseBlock>
        <svg
          class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
          (click)="showPassword1Handler()"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
        >
          <path
            d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
          />
        </svg>
      </ng-template>
    </div>
    <!-- Password Strength Meter -->
    <div
      class="w-full mt-3 bg-gray-200 h-4 rounded-md overflow-hidden"
      [ngSwitch]="passwordMeter"
    >
      <div
        class="h-full transition-all ease-in-out rounded-md duration-300 w-1/5 border bg-red-500"
        *ngSwitchCase="1"
      ></div>
      <div
        class="h-full transition-all ease-in-out duration-300 w-2/5 bg-yellow-300"
        *ngSwitchCase="2"
      ></div>
      <div
        class="h-full transition-all ease-in-out duration-300 w-3/5 bg-orange-400"
        *ngSwitchCase="3"
      ></div>
      <div
        class="h-full transition-all ease-in-out duration-300 w-4/5 bg-blue-400"
        *ngSwitchCase="4"
      ></div>
      <div
        class="h-full transition-all ease-in-out duration-300 w-full bg-green-400"
        *ngSwitchCase="5"
      ></div>
    </div>
    <div class="w-full text-end text-sm text-black" [ngSwitch]="passwordMeter">
      <p *ngSwitchCase="1">Very Bad</p>
      <p *ngSwitchCase="2">Weak</p>
      <p *ngSwitchCase="3">Fair</p>
      <p *ngSwitchCase="4">Good</p>
      <p *ngSwitchCase="5">Strong</p>
    </div>
    <div class="flex flex-col ml-1 justify-start items-start mt-2">
      <ul class="list-disc ml-5">
        <li
          class="mt-2 text-sm"
          [ngClass]="{
            'text-green-500': lengthRequirement,
            'text-red-500': !lengthRequirement
          }"
        >
          Have at least a length greater than or equal to 6
        </li>
        <li
          class="mt-2 text-sm"
          [ngClass]="{
            'text-green-500': numberRequirement,
            'text-red-500': !numberRequirement
          }"
        >
          Have at least one number ex/ 1234567890
        </li>
        <li
          class="mt-2 text-sm"
          [ngClass]="{
            'text-green-500': lowerCaseRequirement,
            'text-red-500': !lowerCaseRequirement
          }"
        >
          Have at least one lowercase letter ex/ a, b, c
        </li>
        <li
          class="mt-2 text-sm"
          [ngClass]="{
            'text-green-500': upperCaseRequirement,
            'text-red-500': !upperCaseRequirement
          }"
        >
          Have at least one capital letter ex/ A, B, C
        </li>
        <li
          class="mt-2 text-sm"
          [ngClass]="{
            'text-green-500': specialCharacterRequirement,
            'text-red-500': !specialCharacterRequirement
          }"
        >
          Have at least one special character ex/!&#64;#$%^&*()
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-6 flex flex-col">
    <label
      for="password-input"
      class="block mb-2 text-xl font-medium text-black-100"
    >
      Reenter your Password
    </label>
    <div class="relative flex-1">
      <input
        [ngClass]="{
  
        'border-red-500' : errorMessagePasswordNotSame,
        
        'border-gray-600' : !errorMessagePasswordNotSame,
      }"
        [(ngModel)]="user.password2"
        (input)="checkRequirements()"
        name="password2"
        required
        [type]="showPassword2 === true ? 'text' : 'password'"
        id="password-input"
        placeholder="Reenter your password"
        class="bg-gray-50 border text-black-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      <ng-container *ngIf="!showPassword2; else elseBlock2">
        <svg
          class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
          (click)="showPassword2Handler()"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
        >
          <path
            d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T832-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"
          />
        </svg>
      </ng-container>
      <ng-template #elseBlock2>
        <svg
          class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
          (click)="showPassword2Handler()"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
        >
          <path
            d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
          />
        </svg>
      </ng-template>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center h-full">
    <button
      (click)="createUserAuthHandler()"
      class="text-white block bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-red-500 dark:hover:bg-red-700 dark:focus:ring-red-900"
    >
      Sign Up
    </button>
  </div>
</form>
