<section class="w-screen h-[50%] p-10">
  <h1 class="text-black text-6xl font-bold text-center pb-10">
    Why you'll love QuickCrave
  </h1>
  <!-- Container for Reasons  -->
  <div class="flex flex-row gap-10 justify-center align-middle">
    <!-- Something for everyone  -->
    <div class="flex flex-col gap-2 justify-center align-middle w-[450px]">
      <img
        src="../../../assets/SVG/Meal.svg"
        class="w-[350px] h-[350px] mx-auto"
      />
      <h2 class="text-black font-bold text-3xl text-center">
        Something for everyone
      </h2>
      <p class="text-light text-gray-700 text-xl text-center text-wrap">
        We have a variety of meals to suit everyone's taste and more.
      </p>
    </div>
    <!-- Delivery -->
    <div class="flex flex-col gap-2 justify-center align-middle w-[450px]">
      <img
        src="../../../assets/SVG/Delivery.svg"
        class="w-[350px] h-[350px] mx-auto"
      />
      <h2 class="text-black font-bold text-3xl text-center">Delivery</h2>
      <p class="text-light text-gray-700 text-xl text-center text-wrap">
        Sit back and relax, and have us deliver to you
      </p>
    </div>
    <!-- Order Takeout  -->
    <div class="flex flex-col gap-2 justify-center align-middle w-[450px]">
      <img
        src="../../../assets/SVG/Takeout.svg"
        class="w-[350px] h-[350px] mx-auto"
      />
      <h2 class="text-black font-bold text-3xl text-center">Order Takeout</h2>
      <p class="text-light text-gray-700 text-xl text-center text-wrap">
        Skip the line with easy pickup.
      </p>
    </div>
    <!-- Earn during free time -->
    <div class="flex flex-col gap-2 justify-center align-middle w-[450px]">
      <img
        src="../../../assets/SVG/Cash.svg"
        class="w-[350px] h-[350px] mx-auto"
      />
      <h2 class="text-black pt-[20px] font-bold text-3xl text-center">
        Earn during your free time
      </h2>
      <p class="text-light text-gray-700 text-xl text-center text-wrap">
        Join as a driver, set your own schedule, and work on your terms.
      </p>
    </div>
  </div>
</section>
