<body>
  <div class="w-[85%] pt-5 h-screen mx-auto justify-between">
    <app-icon-filter></app-icon-filter>

    <!-- Rating Filter -->
    <app-button-filter></app-button-filter>

    <!-- Sort By price, etc -->
    <app-sort-component> </app-sort-component>

    <!-- Restaurant List -->
    <div
      class="w-full pt-5 h-full mx-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-5 justify-between"
    >
      <app-restaurant-card></app-restaurant-card>
      <app-restaurant-card></app-restaurant-card>
      <app-restaurant-card></app-restaurant-card>
      <app-restaurant-card></app-restaurant-card>
    </div>
  </div>
</body>
