<div
  class="bg-white w-full flex flex-col justify-center align-middle gap-5 px-3 mx-auto text-[#161931]"
>
  <h1 class="text-center text-5xl text-black">Change your Password</h1>
  <div *ngIf="errorMessage1">
    <p class="text-sm text-red-500 text-center">
      Error! The following password does not meet the requirements.
    </p>
  </div>
  <div *ngIf="errorMessage3">
    <p class="text-sm text-red-500 text-center">
      Error! The current password you typed is incorrect.
    </p>
  </div>
  <div *ngIf="errorMessage2">
    <p class="text-sm text-red-500 text-center">
      Error! The passwords you have entered do not match. Please Try Again
    </p>
  </div>

  <div *ngIf="errorMessage4">
    <p class="text-sm text-red-500 text-center">
      Authentication failed. Please try again
    </p>
  </div>

  <div *ngIf="successMessage1">
    <p class="text-sm text-green-500 text-center">Sucess! Password Changed</p>
  </div>

  <main
    class="w-full min-h-screen py-1 md:w-2/3 lg:w-3/4 mx-auto flex flex-col align-middle"
  >
    <div class="p-2 md:p-4 flex justify-center">
      <div class="w-full px-6 pb-2 4 sm:max-w-xl sm:rounded-lg">
        <div class="mb-6 flex flex-col">
          <label
            for="currentPassword"
            class="block mb-2 text-sm font-medium text-indigo-900"
            >Current Password</label
          >
          <div class="relative flex-1">
            <input
              [(ngModel)]="userPassword.currentPassword"
              id="password"
              [type]="showPassword === true ? 'text' : 'password'"
              class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
              required
            />
            <ng-container *ngIf="!showPassword; else elseBlock">
              <svg
                class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
                (click)="ShowCurrentPassword()"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T832-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"
                />
              </svg>
            </ng-container>
            <ng-template #elseBlock>
              <svg
                class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
                (click)="ShowCurrentPassword()"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
                />
              </svg>
            </ng-template>
          </div>
        </div>

        <div class="mb-6 flex flex-col">
          <label
            for="newPassword"
            class="block mb-2 text-sm font-medium text-indigo-900"
          >
            Enter New Password</label
          >
          <div class="relative flex-1">
            <input
              (input)="checkRequirements()"
              [(ngModel)]="userPassword.newPassword1"
              [type]="showNewPassword1 === true ? 'text' : 'password'"
              type="newPassword"
              id="newPassword"
              class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
              required
            />
            <ng-container *ngIf="!showNewPassword1; else elseBlock2">
              <svg
                class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
                (click)="ShowNewPassword1()"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T832-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"
                />
              </svg>
            </ng-container>
            <ng-template #elseBlock2>
              <svg
                class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
                (click)="ShowNewPassword1()"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
                />
              </svg>
            </ng-template>
          </div>
        </div>

        <div
          class="w-full mt-3 bg-gray-200 h-4 rounded-md overflow-hidden"
          [ngSwitch]="passwordMeter"
        >
          <div
            class="h-full transition-all ease-in-out rounded-md duration-300 w-1/5 border bg-red-500"
            *ngSwitchCase="1"
          ></div>
          <div
            class="h-full transition-all ease-in-out duration-300 w-2/5 bg-yellow-300"
            *ngSwitchCase="2"
          ></div>
          <div
            class="h-full transition-all ease-in-out duration-300 w-3/5 bg-orange-400"
            *ngSwitchCase="3"
          ></div>
          <div
            class="h-full transition-all ease-in-out duration-300 w-4/5 bg-blue-400"
            *ngSwitchCase="4"
          ></div>
          <div
            class="h-full transition-all ease-in-out duration-300 w-full bg-green-400"
            *ngSwitchCase="5"
          ></div>
        </div>
        <div
          class="w-full text-end text-sm text-black"
          [ngSwitch]="passwordMeter"
        >
          <p *ngSwitchCase="1">Very Bad</p>
          <p *ngSwitchCase="2">Weak</p>
          <p *ngSwitchCase="3">Fair</p>
          <p *ngSwitchCase="4">Good</p>
          <p *ngSwitchCase="5">Strong</p>
        </div>
        <div class="flex flex-col ml-1 justify-start items-start mt-2">
          <ul class="list-disc ml-5">
            <li
              class="mt-2 text-sm"
              [ngClass]="{
                'text-green-500': passwordLengthRequirement,
                'text-red-500': !passwordLengthRequirement
              }"
            >
              Have at least a length greater than or equal to 6
            </li>
            <li
              class="mt-2 text-sm"
              [ngClass]="{
                'text-green-500': passwordNumberRequirement,
                'text-red-500': !passwordNumberRequirement
              }"
            >
              Have at least one number ex/ 1234567890
            </li>
            <li
              class="mt-2 text-sm"
              [ngClass]="{
                'text-green-500': passwordLowercaseRequirement,
                'text-red-500': !passwordLowercaseRequirement
              }"
            >
              Have at least one lowercase letter ex/ a, b, c
            </li>
            <li
              class="mt-2 text-sm"
              [ngClass]="{
                'text-green-500': passwordUppercaseRequirement,
                'text-red-500': !passwordUppercaseRequirement
              }"
            >
              Have at least one capital letter ex/ A, B, C
            </li>
            <li
              class="mt-2 text-sm"
              [ngClass]="{
                'text-green-500': passwordSpecialCharRequirement,
                'text-red-500': !passwordSpecialCharRequirement
              }"
            >
              Have at least one special character ex/!&#64;#$%^&*()
            </li>
          </ul>
        </div>

        <div class="mb-6 mt-6 flex flex-col">
          <label
            for="newPassword2"
            class="block mb-2 text-sm font-medium text-indigo-900"
          >
            Reconfirm New Password</label
          >
          <div class="relative flex-1">
            <input
              [type]="showNewPassword2 === true ? 'text' : 'password'"
              [(ngModel)]="userPassword.newPassword2"
              id="newPassword2"
              class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
              required
            />
            <ng-container *ngIf="!showNewPassword2; else elseBlock3">
              <svg
                class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
                (click)="ShowNewPassword2()"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T832-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"
                />
              </svg>
            </ng-container>
            <ng-template #elseBlock3>
              <svg
                class="hover:shadow-md cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-3"
                (click)="ShowNewPassword2()"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
                />
              </svg>
            </ng-template>
          </div>
        </div>
        <!-- Add Logic to save -->
        <div class="flex flex-col justify-center items-center mx-auto pt-5">
          <button
            (click)="changePasswordHandler()"
            type="submit"
            class="text-white w-[75px] bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center block"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
