<body>
  <!-- Header -->

  <!-- Card  -->
  <div class="w-[85%] pt-5 p-1 h-screen mx-auto">
    <!-- Restauraunt Header -->
    <app-restaurant-header> </app-restaurant-header>
  </div>

  <div class="w-[85%] pt-2 p-1 pb-5 mx-auto">
    <app-restaurant-menu> </app-restaurant-menu>
  </div>

  <!-- Restaurant FAQ + Info -->
  <div class="w-[85%] p-1 pt-5 mx-auto">
    <app-restaurant-faq> </app-restaurant-faq>
  </div>

  <!-- Restaurant Reviews -->
  <div class="w-[85%] p-1 pt-5 mx-auto">
    <app-restaurant-reviews> </app-restaurant-reviews>
  </div>
</body>
