<div
  class="fixed inset-0 z-10 overflow-auto bg-black bg-opacity-50 modal"
  x-show="isOpen"
  [class.open]="isViewDriverLicenseInfo"
>
  <div class="flex justify-center items-center h-full mt-5">
    <div
      class="modal-dialog max-w-lg bg-white md:h-[60vh] md:mt-[25px] rounded-lg shadow-lg"
    >
      <div class="modal-content overflow-auto">
        <div class="modal-header pb-2">
          <button
            (click)="closeModal()"
            type="button"
            class="close text-gray-500 cursor-pointer hover:border hover:rounded-full hover:bg-slate-400 hover:shadow-lg"
          >
            &times;
          </button>
        </div>
        <!-- Adding Card Form  -->

        <div class="modal-body mt-2">
          <main
            class="w-full py-1 md:w-2/3 lg:w-3/4 overflow-auto mx-auto flex flex-col justify-center align-middle"
          >
            <div class="flex justify-center">
              <div class="w-full px-6 pb-8 mt-4 sm:max-w-xl sm:rounded-lg">
                <!-- Connect with DB for User's name -->
                <h2 class="pl-6 text-2xl mb-5 font-bold text-center sm:text-xl">
                  View Driver License
                </h2>

                <div
                  *ngIf="
                    driverLicenseFrontFirebase || driverLicenseBackFirebase
                  "
                  class="flex flex-row items-center"
                >
                  <div class="p-2 mx-auto" *ngIf="driverLicenseFrontFirebase">
                    <img
                      [src]="driverLicenseFrontFirebase"
                      (click)="openLink(driverLicenseFrontFirebase)"
                      alt="Front"
                      class="w-32 h-24 rounded-lg shadow-md object-cover cursor-pointer"
                    />
                    <p class="text-center mt-2 text-md text-indigo-900">
                      Front
                    </p>
                  </div>

                  <div class="p-2 mx-auto" *ngIf="driverLicenseBackFirebase">
                    <img
                      [src]="driverLicenseBackFirebase"
                      (click)="openLink(driverLicenseBackFirebase)"
                      alt="Back"
                      class="w-32 h-24 rounded-lg shadow-md object-cover cursor-pointer"
                    />
                    <p class="text-center mt-2 text-md text-indigo-900">Back</p>
                  </div>
                </div>

                <div class="mt-4">
                  <label
                    for="licenseNumber"
                    class="block mb-2 text-md font-medium text-indigo-900"
                    >Driver License #</label
                  >
                  <input
                    [(ngModel)]="driverLicenseInfo.licenseNumber"
                    oninput="this.value = this.value.replace(/[^A-Z0-9]/g, '')"
                    maxlength="9"
                    type="text"
                    id="licenseNumber"
                    class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                    placeholder="EX/ 7ACS214"
                    required
                  />
                </div>

                <div class="mt-4">
                  <label
                    for="stateLicensePlate"
                    class="block mb-2 text-md font-medium text-indigo-900"
                    >Select State of License Plate</label
                  >
                  <select
                    [(ngModel)]="driverLicenseInfo.licenseState"
                    id="stateLicensePlate"
                    class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                    required
                  >
                    <option value="" disabled selected>Select State</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                  </select>
                </div>

                <div class="mt-4">
                  <label
                    for="firstName"
                    class="block mb-2 text-md font-medium text-indigo-900"
                    >First Name</label
                  >
                  <input
                    [(ngModel)]="driverLicenseInfo.firstName"
                    oninput="this.value = this.value.replace(/[^A-Za-z]/g, '')"
                    type="text"
                    id="firstName"
                    class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                    placeholder="EX/ Vincent"
                    required
                  />
                </div>

                <div class="mt-6">
                  <label
                    for="lastName"
                    class="block mb-2 text-md font-medium text-indigo-900"
                    >Last Name</label
                  >
                  <input
                    [(ngModel)]="driverLicenseInfo.lastName"
                    oninput="this.value = this.value.replace(/[^A-Za-z]/g, '')"
                    type="text"
                    id="lastName"
                    class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                    placeholder="EX/ Doe"
                    required
                  />
                </div>

                <div class="mt-4">
                  <label
                    for="addressStreet"
                    class="block mb-2 text-md font-medium text-indigo-900"
                    >Street Address</label
                  >
                  <input
                    [(ngModel)]="driverLicenseInfo.addressStreet"
                    oninput="this.value = this.value.replace(/[^A-Za-z0-9 ]/g, '')"
                    type="text"
                    id="addressStreet"
                    class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                    placeholder="EX/ 123 Main Street"
                    required
                  />
                </div>

                <div class="mt-4">
                  <label
                    for="addressCity"
                    class="block mb-2 text-md font-medium text-indigo-900"
                    >City</label
                  >
                  <input
                    [(ngModel)]="driverLicenseInfo.addressCity"
                    oninput="this.value = this.value.replace(/[^A-Za-z0-9 ]/g, '')"
                    type="text"
                    id="addressCity"
                    class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                    placeholder="EX/ Los Angeles"
                    required
                  />
                </div>

                <div class="mt-4">
                  <label
                    for="zipcode"
                    class="block mb-2 text-md font-medium text-indigo-900"
                    >Zipcode</label
                  >
                  <input
                    minlength="0"
                    maxlength="5"
                    [(ngModel)]="driverLicenseInfo.addressZipcode"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    type="text"
                    id="zipcode"
                    class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                    placeholder="EX/ 92121"
                    required
                  />
                </div>

                <div class="mt-4">
                  <label
                    for="expDate"
                    class="block mb-2 text-md font-medium text-indigo-900"
                    >Exp Date</label
                  >
                  <input
                    [(ngModel)]="driverLicenseInfo.expDate"
                    type="date"
                    class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full ps-2 p-2.5"
                    placeholder="Select date"
                    required
                  />
                </div>

                <div class="mt-4">
                  <label
                    for="birthDate"
                    class="block mb-2 text-md font-medium text-indigo-900"
                    >Date of Birth</label
                  >
                  <input
                    [(ngModel)]="driverLicenseInfo.birthDate"
                    type="date"
                    class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full ps-2 p-2.5"
                    placeholder="Select date"
                    required
                  />
                </div>

                <div
                  class="flex flex-col mt-3 justify-center items-center mx-auto"
                >
                  <button
                    type="submit"
                    class="text-white w-[100px] bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center block"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
