<div
  class="bg-white w-full flex flex-col justify-center align-middle gap-5 px-3 mx-auto text-[#161931]"
>
  <h1 class="text-center text-5xl text-black">Driver Information</h1>
  <div class="flex flex-row justify-center items-center mx-auto gap-3">
    <button
      type="submit"
      (click)="openAddCarModal()"
      class="text-white w-[100px] bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center block"
    >
      Add Car
    </button>
    <button
      type="submit"
      class="text-white w-[180px] bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center block"
    >
      Add Driver License
    </button>
  </div>
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right">
      <thead class="text-xs uppercase bg-slate-700 text-gray-200">
        <tr>
          <th scope="col" class="px-6 py-3">License Plate</th>
          <th scope="col" class="px-6 py-3">State License Plate</th>
          <th scope="col" class="px-6 py-3">Car Type</th>
          <th scope="col" class="px-6 py-3">Car Brand</th>
          <th scope="col" class="px-6 py-3">Car Model</th>
          <th scope="col" class="px-6 py-3">Car Color</th>
          <th scope="col" class="px-6 py-3">Car Year</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Delete</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">isDefault</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let car of userCarList"
          class="bg-gray-200 hover:bg-gray-300"
        >
          <td class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap">
            {{ car.carInfo.licensePlate }}
            <span
              *ngIf="car.isDefault"
              class="text-xs text-red-500 dark:text-red-400 ml-1"
              >Default</span
            >
          </td>
          <td class="px-6 py-4">{{ car.carInfo.state }}</td>
          <td class="px-6 py-4">{{ car.carInfo.carType }}</td>
          <td class="px-6 py-4">{{ car.carInfo.carBrand }}</td>
          <td class="px-6 py-4">{{ car.carInfo.carModel }}</td>
          <td class="px-6 py-4">{{ car.carInfo.carColor }}</td>
          <td class="px-6 py-4">{{ car.carInfo.carYear }}</td>
          <td class="px-6 py-4 text-right">
            <a
              (click)="setSelectedEditId(car.id); openEditCarModal()"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Edit</a
            >
          </td>
          <td class="px-6 py-4 text-right">
            <a
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Delete</a
            >
          </td>
          <td class="px-6 py-4 text-right">
            <a
              *ngIf="!car.isDefault"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Set as Default?</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-car-modal
  [getCarList]="getCarList"
  [isAddCarModal]="isAddCarModal"
  (closed)="closeAddCarModal()"
></app-add-car-modal>

<app-edit-car-modal
  [editId]="editId"
  [getCarList]="getCarList"
  [isEditCarModal]="isEditCarModal"
  (closed)="closeEditCarModal()"
>
</app-edit-car-modal>
