<div
  class="fixed inset-0 z-10 flex items-center justify-center bg-black bg-opacity-40"
>
  <div
    class="relative bg-white border-olive border-2 rounded-lg w-[70%] max-h-[70vh] overflow-y-auto p-8"
  >
    <span
      class="cursor-pointer text-2xl rounded-full text-center absolute top-0 right-0 m-2 p-2 pb-2 bg-white hover:bg-gray-300"
      (click)="close()"
      >✕</span
    >
    <div class="flex flex-col pt-5 justify-between items-center mb-4">
      <h1 class="text-3xl font-bold mb-3">Classic Basque Cheesecake</h1>
      <img
        class="w-full h-[250px] rounded-lg"
        src="../../../../assets/Images/cheesecake.jpg"
      />
    </div>
    <p class="mt-2 mb-2 text-md text-center text-gray-600">
      Super creamy Cheesecake with a Delicious and Uniquely 'Burnt" Top, Covered
      with Fresh Berries, Slight Frosting, and a layer of our delicious graham
      cracker crust. All made fresh to order and with plenty of care.
    </p>
    <div class="flex flex-col">
      <p class="text-xl font-semibold pb-2 underline">Ingredients</p>
      <p class="text-md pt-1 pb-2">
        Cream Cheese, Graham Cracker Crust, Milk, Butter, Strawberries
      </p>
    </div>
    <div class="flex flex-col">
      <p class="text-xl font-semibold pb-2 underline">Allergies</p>
      <p class="text-md pt-1 pb-2">Nuts</p>
    </div>
    <div>
      <p class="text-xl font-semibold pb-2 underline">Modifications</p>
      <div class="flex items-center">
        <input
          checked
          id="checked-checkbox"
          type="checkbox"
          value=""
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
        />
        <label
          for="checked-checkbox"
          class="ms-2 text-sm font-medium text-gray-900"
        >
          Frosting</label
        >
      </div>

      <div class="flex items-center">
        <input
          checked
          id="checked-checkbox"
          type="checkbox"
          value=""
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
        />
        <label
          for="checked-checkbox"
          class="ms-2 text-sm font-medium text-gray-900"
        >
          Strawberry</label
        >
      </div>

      <div class="flex items-center">
        <input
          checked
          id="checked-checkbox"
          type="checkbox"
          value=""
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
        />
        <label
          for="checked-checkbox"
          class="ms-2 text-sm font-medium text-gray-900"
        >
          Nuts
        </label>
      </div>

      <div class="flex items-center">
        <input
          checked
          id="checked-checkbox"
          type="checkbox"
          value=""
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
        />
        <label
          for="checked-checkbox"
          class="ms-2 text-sm font-medium text-gray-900"
        >
          Coconut Shavings
        </label>
      </div>
    </div>
    <div class="flex flex-col pt-2 pb-2">
      <label for="message" class="block text-xl font-semibold pb-2 underline"
        >Your message</label
      >
      <textarea
        id="message"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Place any comments"
      ></textarea>
    </div>
    <div class="flex justify-end">
      <form class="max-w-sm mx-auto">
        <div class="flex items-center">
          <button
            type="button"
            class="px-5 py-2 bg-blue-500 text-white rounded-l-md focus:outline-none"
          >
            -
          </button>
          <input
            type="number"
            id="number-input"
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 w-[75px] justify-center text-center border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
            placeholder="1"
            inputmode="none"
            readonly
            required
          />
          <button
            type="button"
            class="px-5 py-2 bg-blue-500 text-white rounded-r-md focus:outline-none"
          >
            +
          </button>
        </div>
      </form>
    </div>
    <div class="flex flex-col mx-auto mt-3 justify-center">
      <button
        class="bg-blue-500 block w-[150px] mx-auto text-white px-4 py-2 rounded"
        (click)="submit()"
      >
        Add to Cart
      </button>
    </div>
  </div>
</div>
