<section class="w-[100%] min-w-screen mt-5 p-10 lg:mt-10">
  <div class="w-full flex flex-row justify-center align-middle mt-20 lg:mt-16">
    <div
      class="container flex flex-col lg:flex-row items-center justify-center gap-x-24"
    >
      <div
        class="flex flex-1 flex-col mx-auto items-center text-center justify-center lg:items-start"
      >
        <h1 class="text-black mx-auto font-bold text-4xl mb-5 text-center">
          Learn more about QuickCrave Team
        </h1>
        <p
          class="text-light text-gray-700 text-xl mb-5 mt-5 text-center text-wrap"
        >
          QuickCrave enables you to discover and order food from your current
          location. Simply enter your address, and we'll provide a list of
          delivery options and enarby pickup restaurants. You can refine your
          search by cuisine, restaurant name, or menu item. Once you find what
          you want, place your order online or over the phone at no extra cost.
          Additionally, access reviews, coupons, special deals, and our 24/7
          customer care team to ensure your order meets your expectation
        </p>
      </div>

      <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
        <img
          class="h-[300px] w-[500px] max-w-full rounded-lg"
          src="../../../assets/Images/Logo.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
