<div class="flex flex-col w-full">
  <h1 class="text-4xl font-bold pt-3 pb-3">The Cheesecake Factory Menu Info</h1>
  <p class="text-purple-800 text-xl pb-3">
    Dinner, American, Dessert, Dinner Specials
  </p>

  <p class="text-purple-800 text-lg pb-3">$$$</p>

  <div class="flex flex-row">
    <div class="flex flex-col mr-2 flex-1">
      <img
        class="w-full h-[170px]"
        src="../../../assets/Images/cheesecake.jpg"
      />
      <p class="text-purple-800 text-lg">123 Main Street Drive</p>
      <p class="text-purple-800 text-lg">Laguna Beach, CA 12345</p>
      <p class="text-purple-800 text-lg">12.15 mi</p>
    </div>
    <div class="flex flex-col ml-2 flex-1">
      <!-- Need to add backend logic to switch delivery and pickup which one goes first -->
      <h1 class="text-lg font-semibold pl-3 bg-gray-100 text-gray-600">
        Hours
      </h1>
      <div class="flex flex-row justify-between">
        <p class="text-lg p-3">Mon - Thu</p>
        <div class="flex flex-col text-right p-3">
          <p class="font-md text-gray-600">Delivery: 11:00 AM - 8:00 PM</p>
          <p class="font-md text-gray-400">Pickup: 11:00 AM - 8:00 PM</p>
        </div>
      </div>
      <div class="border border-b-gray-400"></div>
      <div class="flex flex-row justify-between">
        <p class="text-lg p-3">Fri - Sat</p>
        <div class="flex flex-col text-right p-3">
          <p class="font-md text-gray-600">Delivery: 10:00 AM - 10:00 PM</p>
          <p class="font-md text-gray-400">Pickup: 10:00 AM - 10:00 PM</p>
        </div>
      </div>
      <div class="border border-b-gray-400"></div>
      <div class="flex flex-row justify-between">
        <p class="text-lg p-3">Sun</p>
        <div class="flex flex-col text-right p-3">
          <p class="font-md text-gray-600">Delivery: 10:00 AM - 9:00 PM</p>
          <p class="font-md text-gray-400">Pickup: 10:00 AM - 9:00 PM</p>
        </div>
      </div>
      <div class="border border-b-gray-400"></div>
    </div>
  </div>
</div>

<div class="flex flex-col pt-[30px]">
  <div class="border border-b-gray-400 w-full"></div>
  <div class="flex flex-col">
    <div class="flex flex-row p-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 -960 960 960"
        width="24"
      >
        <path
          d="M760-480q0-117-81.5-198.5T480-760v-80q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480h-80Zm-160 0q0-50-35-85t-85-35v-80q83 0 141.5 58.5T680-480h-80Zm198 360q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"
        />
      </svg>
      <p class="text-purple-800 text-lg pl-2">(408) 214-1234</p>
    </div>
    <div class="flex flex-row p-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 -960 960 960"
        width="24"
      >
        <path
          d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
        />
      </svg>
      <p class="text-purple-800 text-lg pl-2">
        thecheesecakefactory&#64;gmail.com
      </p>
    </div>
  </div>
  <div class="border border-b-gray-400 w-full"></div>
</div>
